@import './antd.css';

.full-height {
  height: 100vh;
}

.page {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 719.8px;
  height: 1042.386px;
  border: 1px solid;
}

.page-preview {
  cursor: pointer;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 65%;
  height: 7cm
}

.upper-section {
  height: 35%;
  border-bottom: 1px solid;
  display: flex;
}

.middle-section {
  height: 35%;
  border-bottom: 1px solid;
  display: flex;
}

.lower-section {
  height: 30%;
  display: flex;
}

.section-heading {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 13px;
}

.section-value {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 13px;
}

.section-before-value {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 13px;
  color: #95a5a6;
  cursor: pointer;
}

.section-big-value {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.right-border {
  border-right: 1px solid;
}

.section-big-heading {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.para {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 13px;
}

.input-container{
  height: 20%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #bdc3c7;
}

.inputBox {
  width: 60%;
  border-color: #c0392b;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

.prev-btn {
  width: 8%;
  height: 44px;
  background-color: #e74c3c;
  color: #fff;
  border-color: #c0392b;
  font-size: 16px;
  margin-right: 10px
}

.next-btn {
  width: 8%;
  height: 44px;
  background-color: #e74c3c;
  color: #fff;
  border-color: #c0392b;
  font-size: 16px;
}

.sidebar {
  background-color: #bdc3c7;
  border-right: 1px solid #c0392b;
  height: 100vh;
  width: 16.65%;
  position: fixed
}

.action-container {
  height: 5%;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  background-color: #bdc3c7;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20%;
  width: 85%;
}

.preview-container {
   height: 75%;
   display: flex;
   justify-content: center;
   margin-top: 20%;
}

.action-btn {
  margin-right: 20px;
  background-color: #e74c3c;
  border-color: #c0392b;
}
